{% extends 'client/base.html' %}
<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}

<style>
  :root {
    --primary_color: black;
    --secondary_color: #0bcb76;
  }

  .check_icon {
    font-size: 70px;
    color: var(--primary_color);
  }

  .btn_track {
    background-color: var(--primary_color);
    color: white;
  }

  .success_img {
    height: 300px;
    width: 300px;
    object-fit: contain;
  }
</style>

<!-- =======  success header ======= -->
<section class="container mt-5">
  <center>
    <img
      src="{% static '/images/succesful.svg' %}"
      alt=""
      class="success_img"
    />
    <h5 class="fw-bold mt-3 mb-5">
      Your order has been submitted successfully.
    </h5>
  </center>
</section>

<section class="container mt-5">
  <div class="row">
    <div class="col">
      <p class="mb-0 text-secondary">Time</p>
    </div>
    <div class="col d-flex justify-content-end">
      <p class="fw-bold">{{userCart.date_created|time}}</p>
    </div>
  </div>
  <!-- end item  -->
  <div class="row">
    <div class="col">
      <p class="mb-0 text-secondary">Date</p>
    </div>
    <div class="col d-flex justify-content-end">
      <p class="fw-bold">{{userCart.date_created|date:"D, j M, Y"}}</p>
    </div>
  </div>
  <!-- end item  -->
  <div class="row">
    <div class="col">
      <p class="mb-0 text-secondary">Order Number</p>
    </div>
    <div class="col d-flex justify-content-end">
      <p class="fw-bold">{{userCart.orderNumber}}</p>
    </div>
  </div>
  <!-- end item  -->
  <div class="row">
    <div class="col">
      <p class="mb-0 text-secondary">Price</p>
    </div>
    <div class="col d-flex justify-content-end">
      <p class="fw-bold">R{{userCart.total}}</p>
    </div>
  </div>
  <!-- end item  -->
</section>

<section class="container mt-5">
  <center>
    <a href="{% url 'order-status' userCart.id %}">
      <button class="btn btn_track px-5 rounded-pill py-2 shadow">
        See order status
      </button>
    </a>
  </center>
</section>

{% endblock %}
